pkg/client/src/app/pages/identities/components/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:p="http://www.namespace.org/person"
  targetNamespace="http://www.namespace.org/person"
  version="1.0">
  
  <xs:element name="person">
    <xs:complexType>
      <xs:group ref="p:credential"/>
    </xs:complexType>
  </xs:element>
  
  <xs:group name="credential">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="surName" type="xs:string"/>
      <xs:element name="secondName" type="xs:string"/>
    </xs:sequence>
  </xs:group>  

</xs:schema>